*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    color: #508B41;
    padding: 5px;
}

header{
    text-align: center;
}

span{
    background-color: #1369ae;
    color: white;
    padding: 5px;
    margin: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
}
section{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    margin-top: 10px;
}
div{
    border: 1px solida rgb(59, 94, 207);
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}